main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.page{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-family: "Inter", sans-serif;
}

.right-side{
    display: flex;
    justify-content: center;
}

.right-side img{
    width: 400px;
    height: 500px;

    border-radius: 14px;
}
.left-side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.info{
    min-width: 80%;
    max-width: 80%;
    margin-bottom: 20px;
}

p{
    color: gray;
}

#title{
    color: rgb(180, 180, 180);
}

h1, h2{
    color: #081c37;
}

h1{
    font-size: 45px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.grille{
    display: grid;
    min-width: 80%;
    max-width: 80%;
    grid-template-columns: repeat(2,1fr);
    column-gap: 50px;
    row-gap: 15px;
}

.grille>div{
    min-width: 100%;
    max-width: 100%;
}

.grille hr{
    width: 100%;
    border: 2px solid #1E90FF;
    border-radius: 20px;
}
